<div>
    <pagination *ngIf="paginate"
        [filterAttribute]="filterAttribute"
        [size]="size"
        [data]="data"
        [(sliced)]="slicedData">
    </pagination>
    <div class="row">
      <div class="col-sm-6 col-md-4"
        *ngFor="let item of slicedData">
        <div class="thumbnail">
            <img class="img-responsive" [attr.src]="item.url">

            <div class="caption">
              <h2 *ngIf="item.firstName || item.lastName">
                  {{ item.firstName }} {{ item.lastName }}
              </h2>

              <h3 *ngIf="item.name">
                  <a [routerLink]="['./album/', item.id]">{{ item.name }}</a>
              </h3>

              <dl class="extra-info">
                  <dt *ngIf="item.firstName || item.lastName">Name</dt>
                  <dd *ngIf="item.firstName || item.lastName">
                      {{ item.firstName }} {{ item.lastName }}
                  </dd>

                  <dt *ngIf="item.birthdate">Birthday</dt>
                  <dd *ngIf="item.birthdate">{{ item.birthdate }}</dd>

                  <dt *ngIf="item.instrument">Instrument</dt>
                  <dd *ngIf="item.instrument">{{ item.instrument }}</dd>

                  <dt *ngIf="item.releaseDate">Release Date</dt>
                  <dd *ngIf="item.releaseDate">{{ item.releaseDate }}</dd>
              </dl>
            </div>
        </div>
      </div>
    </div>
</div>

<!-- <pre>{{data | json}}</pre> -->
