<div class="band-detail-container">
    <h1>Band Detail</h1>
    <vertical-list [data]="artists | async" [paginate]="true"></vertical-list>
    <hr />

    <h2>Albums</h2>
    <vertical-list [data]="albums | async" [paginate]="true"></vertical-list>
    <hr />
    <router-outlet></router-outlet>
</div>